:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: antiquewhite !important;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid rgb(230, 215, 196);
  padding: 0.3em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  align-content: center;
  align-items: center;
}
button:hover {
  background-color: rgba(224, 206, 183, 0.973);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: rgb(201, 230, 235);
  }
}

.comment-author-and-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comments-user-image {
  height: 25px;
  width: auto;
}

.comment-body {
  color: "black";
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.nav-header {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  text-align: center;
  justify-content: center;
  display: flex;
  align-content: center;
  height: 60px;
  min-width: 120px;
  max-width: 160px;
}

.sort-by {
  max-height: 50px;
  width: 80px;
}

.dropdown-content {
  display: none;
  color: #213547;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.flex-box-left-holder {
  display: flex;
  align-content: center;
  align-items: center;
}

.topics-button-header {
  display: flex;
  align-self: center;
  align-content: center;
}

.flex-box-right-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-item-header {
  justify-self: center;
}

.article-item {
  justify-content: center;
}

.article-item-image {
  justify-self: center;
  flex-shrink: inherit;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.article-header-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.votes-holder {
  display: flex;
  align-items: center;
  align-content: center;
}
.show-hide-comments {
  display: flex;
  height: 45px;
  width: 150px;
  justify-content: center;
}

.comment-vote-holder {
  display: flex;
}

.delete-comment-button {
  text-align: center;
  height: 40px;
  width: 160px;
  display: flex;
  justify-content: center;
  margin: 10px;
  background-color: rgb(194, 132, 132) !important;
}

.vote-button {
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(5, 17, 36);
}

.article-text {
  text-align: justify;
}

.comments {
  text-align: left;
}

.comment-holder {
  border: solid rgb(206, 176, 138) 2px;
  border-radius: 10px;
  background-color: rgb(216, 238, 241);
  padding: 5px;
}

.comment-header {
  justify-self: left;
}

.comment-form {
  display: grid;
  text-align: start;
  align-items: start;
}

.comment-box {
  border-radius: 10px;
  text-align: start;
  height: 80px;
  word-wrap: normal;
  font-size: 20px;
  font-family: inherit;
  padding: 10px;
  align-self: start;
  white-space: pre-wrap;
  flex-grow: 1;
}

.comment-submit-button {
  justify-self: left;
  background-color: antiquewhite;
  border: solid rgb(206, 176, 138) 2px;
  font-weight: bold;
}

.sort-by-holder {
  /* display: flex;
  justify-content: flex-end; */
}

.sort-by-list {
  display: block;
}

.sort-by-button {
  width: 100%;
}

.page-not-found-img {
  height: 600px;
  width: auto;
}

.topics-holder:hover {
  background-color: rgba(224, 206, 183, 0.973);
}

/*justify-content
flex-start: Items align to the left side of the container.
flex-end: Items align to the right side of the container.
center: Items align at the center of the container.
space-between: Items display with equal spacing between them.
space-around: Items display with equal spacing around them. */
